# 12 MHz clock
set_io hclk        20

# RS232
set_io ser_rx      37
set_io ser_tx      36

# SPI Flash
set_io flash_clk  15
set_io flash_csb  16
set_io flash_io0  14
set_io flash_io1  17
set_io flash_io2  23
set_io flash_io3  28

# Status LEDs
set_io ledr_n     40
set_io ledg_n     41
set_io ledb       39


set_io p9 9
set_io p10 10
set_io p11 11
